<h1 align="center">welcome to about</h1>
  <p>This page is all about following the steps on how to do a web Application
      Using ruby on rails. See this link for your reference: <a href="https://www.railstutorial.org/book">RUBY ON RAILS TUTORIALS BY MICHAEL HARTL</a></p>

<%= link_to "Home", root_path %>
