<div class="center jumbotron">
  <h1> HELLO WELCOME!! </h1>
  <p>Do you want to blog about your life? This website will be perfect for you. You can
  write your everyday life or any special moments about your life.</p>
<%= link_to "Sign up now", "#", class: " btn btn-danger btn-lg btn-xlarge" %>
</div>
