<div class="center jumbotron">
  <h1 class="dark"> HELLO WELCOME! </h1>
  <p><strong>This website is all about learning how to build
  web application using ruby on rails.  </strong></p>
<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
